h1 {
    font-size: 30px;
    text-align: justify;
    color: rgb(31, 249, 35);
    margin: 50px 0;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}


header {
    margin: 20px 50px 20px 20px;
    background: #cbadad;

}

section button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 10px 10px;
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
}


nav button {
    margin: 50px;
    padding: 20px 40px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

header nav {
    padding: 10px 20px 0px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 80px 60px 60px 80px;
    cursor: pointer
}

header nav a {
    color: #fff;
    position: relative;
    text-decoration: none;
    margin-bottom: 100px;


}

main {
    border: 5px solid #4CAF50;
    margin-bottom: 10px;
    margin-top: 50px;
}

h2 {
    margin-left: 10px;
    font-size: 25px;
    font-size: 25px;
}

div {
    padding: 60px 60px 60px 60px;
    margin: 10px;
    background-color: #cbadad;
    border-radius: 10px;
    justify-content: center;
    display: flex;

}

div button {
    margin: 10px;
    display: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    text-decoration: initial;
    padding: 20px 20px 20px 20px;

}


footer {
    border: 5px solid #4CAF50;
    border-radius: 5px;
    background-color: #cbadad;
   
}

h3 {
    margin-left: 10px;
    font-size: 25px;
}

 footer div button {
    margin-left: 10px;
    display: flex;
padding: 30px 20px 20px 30px;
    
}
footer div {
    padding: 20px;
   

}
p {
    font-size: 20px;
    font-weight: bold;
    bottom:80px;
  
}

