* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero {
    display: grid;
    height: 10rem;
    width: 100vw;
    background-image: none;
    background-color: white;
}

body {
    background-color: #313131;
}

.hero h1 {
    justify-self: center;
    align-self: center;
    color: gold;
}

.header nav {

}

.header nav ul li {
    display: inline-block;
    align-items: center;
}

.content {
    display: flex;
}

