.dark {
    background-color: #333333;
    color: #dfd261;
}

h1,
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#toggle-btn {
    position: fixed;
    top: 45px;
    right: 45px;
}